/* ITEMS */

@media (max-width: 992px) {
    html {
        font-size: 1.3em;
    }

    .item, .order-item, .navbar-brand, #cart-button {
        font-size: 1.5em;
    }

    .popover {
        max-width: 65%;
        font-size: 1.5em;
    }

    .cart-item {
        border-bottom: 1px solid lightgray;
    }

    .cart-item-minus-button, .cart-item-plus-button {
        width: 2em;
        height: 2em;
        font-size: inherit;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #order-details-form, #order-info, #order-controls, #submit-order-success {
        font-size: 1.4em;
    }

    #show-filters, #filter-collapsible-block, #client-bar {
        font-size: 1.3em;
    }

    .send-order-button, .reset-order-button, #full-name, #phone-number, #email, #address, #submit-order-button, #decline-order-button, #show-client-info-bar {
        font-size: inherit;
    }

    #apply-filter, #release-filter {
        margin: auto;
        font-size: inherit;
    }

    #from-price, #to-price {
        width: 5rem;
    }

    #filter-size .btn {
        width: 4rem;
    }
}

@media (min-width: 993px) {
    #all-content {
        min-width: 780px;
    }

    .item, .order-item {
        font-size: 0.9em;
    }

    .size-radio {
        font-size: 0.9em;
    }

    .cart-item {
        border-bottom: 1px solid lightgray;
        font-size: 1em;
    }

    .cart-item-minus-button, .cart-item-plus-button {
        width: 1.5em;
        height: 1.5em;
        font-size: inherit;
        padding-right: 0.1em;
        padding-left: 0.1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    /* FILTER */
    #filter-collapsible-block {
        font-size: 0.9em;
    }

    #apply-filter {
        margin: auto;
    }

    #from-price, #to-price {
        width: 5rem;
        font-size: 0.9em;
    }

    .popover {
        max-width: 25%;
    }
}

.add-to-cart {
    font-size: inherit;
}

#cart-clean, .cart-remove-from, #cart-send-order {
    font-size: inherit;
}

.popover {
    border: 3px solid green;
}

#cart-items-list {
    max-height: 80vh;
    overflow-y: auto;
}